:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  /* color: rgba(255, 255, 255, 0.87); */
  background-color: #FCEFCB;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

div#root{
  margin:0;
  padding:0;
  /* place-items: center; */
  width: 100%;
  /* display: flex; */
}


a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

html {
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  display: flex;
  /* place-items: center; */
  justify-content: center;
  min-width: 320px;
  min-height: 100%;
  padding: 0 0 30px 0;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
p {
  color: #000000
}
button {
  border-radius: 20px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: large;
  font-weight: bold;
  background-color: #4F1C51;
  cursor: pointer;
  transition: border-color 0.25s;
  margin:10px;
  font-family: "Cal Sans";
  max-width: fit-content;
}

.button-2 {
  border-radius: 20px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: small;
  font-weight: bold;
  background-color: #A86523;
  cursor: pointer;
  transition: border-color 0.25s;
  margin:10px;
  font-family: "Cal Sans";
}

button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}


/* .title-container {
  
} */

.title-bar {
  background-color: #4F1C51;
  /* position: '-webkit-sticky'; */
  position: fixed;
  /* z-index: 9999; */
  width: 100%;
  height: 48px;
  display: flex;
  justify-content: left;
  align-items: center;
  padding-left: 12px;
  box-shadow: 0px 2px 5px #000000;
}

.title-text {
  margin-left:12px;
  font-family: "Playwrite DK Loopet";
  font-weight:400;
}

.hamburger {
  height: 24px;
  width: 24px;
  cursor: pointer;
}

#add-beer {
  margin: 10px;
}

.products-container {
  /* For mobile */
  width: 100%;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items:center;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  /* For desktops */
  .products-container {
    flex-direction: row;
    align-items:start;
  }
}

.product {
  /* For mobile */
  background-color: #FAD59A;
  height: 100%;
  min-width: 90%;
  max-width: 90%;
  min-height: 245px;
  border-radius: 30px;
  border-width: 1px;
  margin-top: 25px;
  box-shadow: 0px 5px 10px #00000050;
}
@media screen and (min-width: 768px) {
  /* For desktops */
  .product {
    /* width: 10px; */
    min-width: 20%;
    max-width: 20%;
    margin: 25px 30px 25px 30px;
  }
}

.product-header {
  /* max-height:10px; */
  width: 100%;
  /* background-color: #FDFAF6; */
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  /* min-height: 8vh; */
  align-content: center;
  display:flex;
  flex-direction: row;
  padding: 10px 10px 0 20px;
  /* overflow-wrap: initial; */
}

.product-image{
  width: 256px;
  height: 256px;
  border-radius: 8px;
  margin-top: 10px;
}
@media screen and (min-width: 768px) {
  /* For desktops */
  .product-image {
    border-radius: 0px;
  }
}

.product-title{
  text-align: center;
  font-family: "Cal Sans";
  font-size: x-large;
  margin:0 0 0 10px;
  color: #131010;
  padding: 0px 20px 0 0px;
  text-align: left;
  
}
@media screen and (min-width: 768px) {
  /* For desktops */
  .product-title {
    font-size: larger;
  }
}

.product-flag {
  font-size: large;
  padding-top: 6px;
}
@media screen and (min-width: 768px) {
  /* For desktops */
  .product-flag {
    font-size: small;
  }
}

.product-description {
  text-align: start;
  font-size: 12px;
  font-weight: bold;
  padding: 0px 10px 10px 10px;
  color: #000000;
  margin:0;
  font-family: "Red Hat Display";
}

.description-close {
  font-size: small;
  font-family: "Cal Sans";
  cursor: pointer;
  border-radius: 20px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-weight: bold;
  transition: border-color 0.25s;
  margin:10px;
  font-family: "Cal Sans";
}
.product-flavors {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-wrap: wrap;
  min-height: 40px;
  margin-top: 5px;
  
}

.product-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}

.product-foodPairings {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.description-container {
  margin-top: 25px;
}

.flavor-button{
  margin: 5px;
  background-color: #FFF1D5;
  border-radius: 25px;
  padding: 4px;
  /* min-height: 10px; */
  max-height: 10px;
  min-width: 40px;
  border-color:#000000;
  /* border-style: solid; */
  border-width: 1px;
  /* display: flex; */
  /* box-shadow: 1px 1px 5px #000000; */
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.foodPairing-button{
  margin: 5px;
  background-color: #A86523;
  border-radius: 25px;
  padding: 4px;
  min-height: 10px;
  max-height: 10px;
  /* min-width: 40px; */
  /* max-width: ; */
  border-color:#000000;
  /* border-style: solid; */
  border-width: 1px;
  /* display: flex; */
  /* box-shadow: 1px 1px 5px #000000; */
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: #ffffff;
  font-weight: bold;
  font-size: small;
}

.flavor {
  /* position: absolute; */
  margin: 0;
  font-size: 75%;
  color: #000000;
  font-family: "Red Hat Display";
  /* font-weight: bold; */
  top: 50%;
  left: 50%;
  /* transform: translate(-50%, -50%); */
}


@media (prefers-color-scheme: light) {
  :root {
    color: #ffffff;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

@font-face {
  font-family: custom1;
  src: url(FunnelDisplay-VariableFont_wght.ttf);
}

/* .cal-sans-regular {
  font-family: "Cal Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
} */

/* .red-hat-display {
  font-family: "Red Hat Display", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
} */

/* .kumbh-sans {
  font-family: "Kumbh Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-variation-settings: "YOPQ" 300;
} */

/* .poiret-one-regular {
  font-family: "Poiret One", sans-serif;
  font-weight: 400;
  font-style: normal;
} */ 

/* .borel-regular {
  font-family: "Borel", cursive;
  font-weight: 400;
  font-style: normal;
} */

/* pacifico-regular {
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
} */

/* .playwrite-ro {
  font-family: "Playwrite RO", cursive;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
} */

/* .playwrite-dk-loopet{
  font-family: "Playwrite DK Loopet", cursive;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
} */